.sr-only {
    @include sr-only();
}

.sr-only-focusable {
    @include sr-only-focusable();
}

.site-header {
    background-color: $color-purple;
}

.site-title {
    max-width: 70%;
}

.site-title svg {
    fill: $color-peach;
    max-width: 100%;
    height: 60px;
    .logo-divider {
        fill-opacity: 0.49;
    }
    .logo-words {
        fill: $color-white;
    }
}

.page-content.home-page {
    padding-top: 0;
}

.masthead {
    height: 50vh;
    min-height: 16rem;
    background-size: cover;
    background-image: url("/assets/images/masthead.jpg");
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .head-text {
        font-size: 1.8rem;
        background-color: rgba(0,0,0,0.5);
        color: $color-white;
        text-align: center;
        padding: $large-spacing;
        //@include media-query($on-palm) {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
        //}
    }
}

.image-words {
    margin-top: $large-spacing;
    margin-bottom: $extra-large-spacing;
    display: flex;
    .image {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 300px;
        text-align: center;
        img {
            margin: 0 auto;
            max-width: 300px;
            width: 100%;
        }
        &.large {
            flex-basis: 400px;
            img {
                max-width: 400px;
            }
        }
        margin-bottom: $default-spacing;
    }
    .text {
        h2,
        h3 {
            font-size: 1.8rem;
        }
        flex: 1;
    }
    &.image-right {
        .image {
            order: 2;
            padding-left: $default-spacing;
        }
        .text {
            order: 1;
            padding-right: $default-spacing;
        }
    }
    &.image-left {
        .image {
            order: 1;
            padding-right: $default-spacing;
        }
        .text {
            order: 2;
            padding-left: $default-spacing;
        }
    }
    @include media-query($on-laptop) {
        .image,
        .image.large {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: auto;
        }
        &.image-left,
        &.image-right {
            .text,
            .image {
                padding-right: 0;
                padding-left: 0;
            }
            .image {
                order: 1;
            }
            .text {
                order: 2;
            }
        }
        flex-direction: column;
    }
}

h2, h3 {
    font-weight: 700;
}
.standout-heading {
    font-size: 2rem;
    margin-top: $large-spacing;
    margin-bottom: $large-spacing;
    text-align: center;
}

.align-center {
    text-align: center;
}

.image-float-left {
    max-width: 400px;
    width: 50%;
    float: left;
    margin-right: $large-spacing;
    margin-bottom: $default-spacing;
    @include media-query($on-palm) {
        float: none;
        width: 100%;
        margin-right: 0;
        max-width: 300px;
    }
}