.sr-only {
    @include sr-only();
}

.sr-only-focusable {
    @include sr-only-focusable();
}

.site-header {
    background-color: $color-purple;
    .page-link {
        text-transform: uppercase;
    }
}

.site-title {
    max-width: 70%;
}

.site-title svg {
    fill: $color-peach;
    max-width: 100%;
    height: 60px;
    .logo-divider {
        fill-opacity: 0.49;
    }
    .logo-words {
        fill: $color-white;
    }
}

.page-content.home-page {
    padding-top: 0;
}

.masthead {
    height: 50vh;
    min-height: 16rem;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $large-spacing;
    .head-text {
        font-size: 1.8rem;
        background-color: rgba(0,0,0,0.5);
        color: $color-white;
        text-align: center;
        padding: $large-spacing;
        //@include media-query($on-palm) {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
        //}
    }
}

.image-words {
    margin-top: $large-spacing;
    margin-bottom: $extra-large-spacing;
    display: flex;
    .image {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 300px;
        text-align: center;
        img {
            margin: 0 auto;
            max-width: 300px;
            width: 100%;
        }
        &.large {
            flex-basis: 400px;
            img {
                max-width: 400px;
            }
        }
        margin-bottom: $default-spacing;
    }
    .text {
        h2,
        h3 {
            font-size: 1.8rem;
        }
        flex: 1;
    }
    &.image-right {
        .image {
            order: 2;
            padding-left: $default-spacing;
        }
        .text {
            order: 1;
            padding-right: $default-spacing;
        }
    }
    &.image-left {
        .image {
            order: 1;
            padding-right: $default-spacing;
        }
        .text {
            order: 2;
            padding-left: $default-spacing;
        }
    }
    @include media-query($on-laptop) {
        .image,
        .image.large {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: auto;
        }
        &.image-left,
        &.image-right {
            .text,
            .image {
                padding-right: 0;
                padding-left: 0;
            }
            .image {
                order: 1;
            }
            .text {
                order: 2;
            }
        }
        flex-direction: column;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
.standout-heading {
    font-size: 2rem;
    margin-top: $large-spacing;
    margin-bottom: $large-spacing;
    text-align: center;
}

.align-center {
    text-align: center;
}
.uppercase {
    text-transform: uppercase;
}
.section-start-spaced {
    margin-top: $extra-large-spacing;
}

.image-float-left {
    max-width: 400px;
    width: 50%;
    float: left;
    margin-right: $large-spacing;
    margin-bottom: $default-spacing;
    @include media-query($on-palm) {
        float: none;
        width: 100%;
        margin-right: 0;
        max-width: 300px;
    }
}

.image-jump-links {
    display: flex;
    align-items: center;
    .jump-link {
        flex: 1;
        padding: 30px;
        //width: 50%;
        img {
            width: 100%;
        }
        .jump-link-text {
            text-align: center;
            color: $text-color;
            font-size: 1.3rem;
        }
    }
    @include media-query($on-palm) {
        flex-direction: column;
    }
}
.service-item {
    display: flex;
    margin-top: 30px;
    margin-bottom: 60px;
    .service-item-title {
        flex-basis: 300px;
        flex-grow: 0;
        flex-shrink: 0;
        img {
            width: 100%;
        }
    }
    .service-item-description {
        flex: 1;
        padding-left: 30px;
    }
    @include media-query($on-palm) {
        flex-direction: column;
        .service-item-title {
            flex-basis: auto;
            flex-grow: 1;
            flex-shrink: 1;
        }
        .service-item-description {
            flex: 1;
            padding-left: 0;
        }
    }
}

.listings {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    h3, h4 {
        text-transform: uppercase;
    }
    .service-listing,
    .discount-listing {
        flex: 0;
        flex-basis: 48%;
        padding-bottom: 30px;

        @include media-query($on-palm) {
            flex-basis: 100%;
        }
    }
    .price {
        font-weight: 700;
        font-style: italic;
        text-align: center;
    }
}

.site-footer {
    .footer-links {
      color: $footer-color;
      background-color: $footer-background-color;
      height: $footer-height;
      display: flex;
      align-items: center;
      justify-content: center;
      .footer-contact {
        vertical-align: baseline;
        a {
            opacity: 0.5;
            &:hover,
            &:focus {
                opacity: 1;
            }
            svg {
                padding: 5px;
                width: 30px;
                height: 30px;
            }

        }
      }
    }
    .footer-copyright {
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: $footer-copyright-notice-background-color;
      color: $footer-copyright-notice-color;
      font-size: 0.8em;
    }
}

.row {
    display: flex;
    justify-content: center;
    .col {
        flex: 1;
    }
    @include media-query($on-laptop) {
        flex-direction: column;
    }
}

.contact-images {
    margin-bottom: $large-spacing;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    .image-container {
        display: inline-block;
        margin-right: 1%;
        &:last-child {
            margin-right: 0;
        }
        &.aspect3x4 {
            width: 21.4%;
            .resizer {
                padding-bottom: 133.3333333333%;
            }
        }
        &.aspect4x3 {
            width: 38%;
            .resizer {
                padding-bottom: 75%;
            }
        }

        .resizer {
            position: relative;
            height: 0;
        }

        .resizer img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    img {
        margin-right: $default-spacing;
        &:last-child {
            margin-right: 0;
        }
        &.aspect3x4 {
            width: 33%
        }
        &.aspect4x3 {
            width: 33%
        }
    }
    
    // @include media-query($on-palm) {
    //     align-items: center;
    //     flex-direction: column;
    //     .aspect3x4,
    //     .aspect4x3 {
    //         flex-basis: auto;
    //         max-width: 300px;
    //         width: 100%;
    //         margin-bottom: $default-spacing;
    //     }
    //     img {
    //         margin-right: 0;
    //     }
    // }
}
.contact-info {
    padding-right: $default-spacing;
    margin-bottom: $large-spacing;
    @include media-query($on-laptop) {
        padding-right: 0;
    }
}


.map-responsive{
    overflow:hidden;
    padding-bottom:100%;
    position:relative;
    height:0;
    @include media-query($on-laptop) {
        padding-bottom: 50%;
    }
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.contact-phone {
    font-size: 1.2em;
    font-weight: 700;
}

.contact-doxy { 
    div.doxyme-badge.doxyme-badge-horizontal,
    div.doxyme-badge.doxyme-badge-noimage,
    div.doxyme-badge.doxyme-badge-noimage#doxyme-badge {
        margin: $large-spacing auto $large-spacing;
    }
    div.doxyme-badge.doxyme-badge-horizontal a.doxyme-badge-start-button:hover,
    div.doxyme-badge.doxyme-badge-horizontal#doxyme-badge a.doxyme-badge-start-button:hover {
        background: $color-purple;
    }
    div.doxyme-badge.doxyme-badge-horizontal a.doxyme-badge-start-button,
    div.doxyme-badge.doxyme-badge-horizontal#doxyme-badge a.doxyme-badge-start-button {
        background: $color-purple;
    }

    div.doxyme-badge div.doxyme-badge-start-a-call,
    div.doxyme-badge a.doxyme-badge-start-a-call,
    div.doxyme-badge#doxyme-badge div.doxyme-badge-start-a-call,
    div.doxyme-badge#doxyme-badge a.doxyme-badge-start-a-call {
        color: $color-purple !important;
    }

    div.doxyme-badge.doxyme-badge-horizontal div.doxyme-badge-content a.doxyme-badge-start-a-call,
    div.doxyme-badge.doxyme-badge-horizontal#doxyme-badge div.doxyme-badge-content a.doxyme-badge-start-a-call {
        border-bottom: 1px solid $color-purple;
    }

    div.doxyme-badge.doxyme-badge-horizontal div.doxyme-badge-content a.doxyme-badge-start-a-call:hover,
    div.doxyme-badge.doxyme-badge-horizontal#doxyme-badge div.doxyme-badge-content a.doxyme-badge-start-a-call:hover,
    div.doxyme-badge.doxyme-badge-noimage a.doxyme-badge-start-a-call:hover,
    div.doxyme-badge.doxyme-badge-noimage#doxyme-badge a.doxyme-badge-start-a-call:hover,
    div.doxyme-badge.doxyme-badge-noimage a.doxyme-badge-start-a-call,
    div.doxyme-badge.doxyme-badge-noimage#doxyme-badge a.doxyme-badge-start-a-call {
        color: $color-purple !important;
        border-bottom: 1px solid $color-purple;
    }

    .doxyme-badge-horizontal {
        display: block;
    }
    .doxyme-badge-noimage {
        display: none;
    }
    @include media-query($on-palm) {
        .doxyme-badge-horizontal {
            display: none;
        }
        .doxyme-badge-noimage {
            display: block;
        }
    }
}