$color-purple: #05032D;
$color-peach: #E5A37B;
$color-green: #BAAE57;
$color-white: #FFFFFF;
$color-dark: #000000;

$nav-color: $color-white;
$header-background-color: $color-purple;
$footer-color: $color-dark;
$footer-background-color: $color-peach;

$default-spacing: 15px;
$large-spacing: 30px;

$header-height: 100px;
$footer-height: 100px;

$base-font-family: 'Lato', sans-serif;