$color-purple: #05032D;
$color-peach: #E5A37B;
$color-green: #BAAE57;
$color-white: #FFFFFF;

$nav-color: $color-white;
$header-background-color: $color-purple;

$default-spacing: 15px;
$large-spacing: 30px;

$header-height: 100px;