<script>
    var smsContactNumber = "2263133335";
    var displayColumns = [
    {key: "date", label: "Initial Phone Consult Availability"},
    {key: "time", label: "Time"},
    {key: "book", label: "Text (from your cell)"},
];
</script>
<script src="/assets/js/available-year.js"></script>

<div class="filters" id="table-filters"></div>
<div class="scroll-table available-times-table">
    <table id="available-table"></table>
    <div class="info-message" id="none-available-notice"></div>
</div>
<div class="error-message" id="available-error-notice"></div>