{%- if site.posts.size > 0 -%}
<div class="recent-news wrapper">
    <h2>Recent News</h2>
    <div class="news-items">
        {%- for post in site.posts limit:3 -%}
        <div class="news-item">
            <h3><a href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">
                {%- if post.custom_date -%}
                    {{ post.custom_date }}
                {%- else -%}
                    {{ post.date | date: date_format }}
                {%- endif -%}
            </span>
            <div class="content">
                {%- if post.custom_excerpt -%}
                    {{ post.custom_excerpt | markdownify }}
                {%- else -%}
                    {{ post.excerpt }}
                {%- endif -%}
                <a class="read-more" href="{{ post.url | relative_url }}">read more</a>
            </div>
        </div>
        {%- endfor -%}
    </div>
</div>
{%- endif -%}
