<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    {% include header.html %}
    <main class="page-content home-page" aria-label="Content">
      {% assign background = page.background %}
      {% assign masthead_text = page.masthead_text %}
      {% assign masthead_cta_link = page.masthead_cta_link %}
      {% assign masthead_cta_text = page.masthead_cta_text %}
      {% include partials/masthead.html %}
      <div class="wrapper">
        <h1 class="sr-only">{{ page.title }}</h1>
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>